body {
	background:url("http://p1.pichost.me/i/41/1650111.jpg");
	background-size: cover;
    background-position: center;
	color:000033;
	text-align: center;
	font-family: helvetica;
	font-size: 22px;
}

h1 {
	font-family: helvetica;
	color:white;
}
h2 {
	font-family: helvetica;
	color:white;
}
h3 {
	font-family: helvetica;
	color:white;
}
ul li {
	text-align:center;
}
ol li{
	text-align: center;
}